<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reçu fiscal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        * {
            padding: 0;
            margin: 0;
            font-family: sans-serif;
            vertical-align: top;
            box-sizing: border-box;
        }
        p, span {
            font-size: 14px;
            line-height: 16px;
        }

        .container {
            width: 100%;
            padding: 5%;
        }

        .logo {
            margin-right: 15%;
        }

        img {
            width: 100%;
            height: auto;
        }

        .bold {
            font-weight: 700;
        }

        .underline {
            text-decoration: underline;
        }

        .row > * {
            display: inline-block;
        }

        .col-3 {
            width: 25%;
        }
        .col-4 {
            width: 33.33%;
        }
        .col-5 {
            width: 41.66%;
        }
        .col-6 {
            width: 50%
        }
        .col-7 {
            width: 58.33%
        }
        .col-9 {
            width: 75%;
        }
        .col-12 {
            width: 100%
        }

        .mt-1 {
            margin-top: 10px;
        }

        .mt-2 {
            margin-top: 20px;
        }

        .mt-3 {
            margin-top: 30px;
        }

        .mt-4 {
            margin-top: 40px;
        }

        .mt-5 {
            margin-top: 50px;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="logo col-4">
            <img src="data:image/png;base64,{{ logoImg }}" alt="">
        </div>
        <div class="col-6">
            <h3 class="">RECU FISCAL</h3>
            <p class="bold">Articles {{ data.articles }} du code général des impôts</p>
            <p>Numéro d'ordre reçu : {{ data.receiptCode }}</p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-7"></div><div class="col-5">
            <p class="bold">{{ data.customerFullName }}</p>
            <p>{{ data.customerAddress }}</p>
            <p>{{ data.customerPostalCode }} {{ data.customerCity }}</p>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-3">
            <p class="bold underline">DONATEUR</p>
            <p class="bold">{{ data.customerFullName }}</p>
            <p>{{ data.customerAddress }}</p>
            <p>{{ data.customerPostalCode }} {{ data.customerCity }}</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-3">
            <p class="bold underline">BENEFICIAIRE</p>
            <p class="bold">Coral Guardian</p>
            <p>3 rue de Bonald</p>
            <p>69007 Lyon</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <p><span class="bold">Type d'organisme : </span><span>Association loi 1901</span></p>
            <p><span class="bold">Numéro RNA : W913003943</span></p>
            <p><span class="bold">Qualité de l'organisme : </span><span>Organisme d'intérêt général</span></p>
            <p><span class="bold">Objet : </span><span>Coral Guardian protège et restaure les écosystèmes coralliens par l'implication des populations locales</span></p>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12">
            <p>
                Le bénéficiaire reconnaît avoir reçu au titre des dons et versements, ouvrant droit à réduction d'impôt de
                {{ data.fiscalReductionPercentage }}%, la somme de <span class="bold">{{ data.priceWord }} euros (***{{ data.price }}*** EUR)</span>.
            </p>
        </div>
    </div>

    <div class="row mt-4" style="padding-left: 2%">
        <div class="col-12">
            <p><span class="bold">Date du versement : </span><span>{{ data.date }}</span></p>
            <p><span class="bold">Mode de versement : </span><span>PAIEMENT PAR {{ data.paymentMethod }}</span></p>
            <p><span class="bold">Forme du don : </span><span>Don manuel</span></p>
            <p><span class="bold">Nature du don : </span><span>Numéraire</span></p>
        </div>
        <div class="col-12 mt-3">
            <p>
                Le bénéficiaire certifie sur l'honneur que les dons et versements qu'il reçoit ouvrent droit à la réduction
                d'impôt prévue aux articles {{ data.articles  }} du code général des impôts.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-9"></div><div class="col-3">
            <p>Le {{ data.date }},</p>
            <p>Olivier Detournay</p>
            <img src="data:image/png;base64,{{ stampImg }}" alt="">
        </div>
    </div>

</div>

</body>
</html>